<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Conequate_AddressAutoComplete::conequate"
             title="Address Auto Complete"
             module="Conequate_AddressAutoComplete"
             sortOrder="1"
             parent="Conequate_Core::conequate"
             resource="Conequate_AddressAutoComplete::menu"/>
        <add id="Conequate_AddressAutoComplete::configurations"
             title="Configuration"
             module="Conequate_AddressAutoComplete"
             sortOrder="5"
             parent="Conequate_AddressAutoComplete::conequate"
             resource="Conequate_Configuration::configuration"
             action="admin/system_config/edit/section/address_autocomplete"/>
    </menu>
</config>
